body,
html {
    background-color: #FFFDD0;
    height: 100%;
}

.sidebar {
    background-color: salmon;
    position: fixed;
    height: 100%;
    width: 250px;
    transition: all 0.5s;
    margin-left: -250px;
    z-index: 1;
}

.sidebar ul {
    list-style: none;
}

.sidebar a {
    padding: 5px;
    font-size: large;
    text-decoration: none;
    color: black;
}

.sidebar a:hover {
    background-color: #00000022;
}

.toggle-btn {
    position: fixed;
    left: 5px;
    top: 5px;
    z-index: 2;
    transition: all 0.5s;
}

.main {
    min-width: 100%;
    min-height: 100%;
    transition: all 0.5s;
    padding: 10px;
}

.banner {
    min-width: 100%;
    background-color: burlywood;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
    transition: all 0.5s;
}

.open {
    margin-left: 0px;
}

.open-main {
    margin-left: 250px;
}

.footer {
    min-width: 100%;
    padding: 5px;
    padding-top: 20px;
    background-color: #944A20;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
}

.socials {
    align-self: flex-start;
}

.socials a {
    text-decoration: none;
    color: #000011dd;
}

.footer-contacts {
    align-self: flex-end;
}

#footer-row {
    display: flex;

}

.contact-page{
    width: 80%;
    text-align: center;
}

.widebox{
    min-width: 200px;
    width: 80%;
}

.longbox{
    height: 250px;
}

.contact-label{
    margin-left: 10%;
    margin-top: 10px;
    text-align: left;
}

@media (max-height: 400px) {
    .footer {
        position: absolute;
        bottom: 0px;
    }
}

@media (max-width: 500px){
    .sidebar{
        width: 100%;
        margin-left: -100%;
    }

    .open{
        margin-left: 0px;
    }

    .open-main {
        margin-left: 100%;
        min-width: 100%;
    }

    .banner{
        min-width: 100%;
    }

    .footer{
        min-width: 100%;
    }

    .main{
        min-width: 100%;
    }
}

