html, body {
    background-color: #FFFDD0;
    max-height: 100%;
    width: 100%;
}


.row{
    /* Bootstrap Override */
    margin: auto !important;
}

#about-us {
    padding: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: larger;
    font-weight: bold;
}

.soft-brown-background {
    padding: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 10%;
    background-color: #944A20aa;
}

.tight-brown-background {
    padding: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10%;
    background-color: #944A20aa;
}

.sidebar {
    background-color: salmon;
    position: fixed;
    height: 100vh;
    width: 250px;
    transition: all 0.5s;
    margin-left: -250px;
    z-index: 1;
    overflow: hidden;
}

.sidebar ul {
    list-style: none;
}

.sidebar a {
    padding: 5px;
    font-size: large;
    text-decoration: none;
    color: black;
}

.sidebar a:hover {
    background-color: #00000022;
}

.toggle-btn {
    position: fixed;
    left: 5px;
    top: 5px;
    z-index: 2;
    transition: all 0.5s;
}

.main {
    min-width: 100%;
    /* min-height: 100%; */
    transition: all 0.5s;
    padding: 10px;
}

.banner {
    min-width: 100%;
    background-color: burlywood;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
    transition: all 0.5s;
}

.open {
    margin-left: 0px;
    max-height: 100%;
    overflow-y: hidden;
}

.footer {
    width: 100%;
    max-width: 100vw;
    padding: 5px;
    padding-top: 20px;
    background-color: #944A20;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
}

.socials {
    align-self: flex-start;
}

.socials a {
    text-decoration: none;
    color: #000011dd;
}

.footer-contacts {
    align-self: flex-end;
}

#footer-row {
    display: flex;

}

.contact-page {
    width: 100%;
    text-align: center;
}

.widebox {
    min-width: 200px;
    width: 80%;
}

.longbox {
    height: 250px;
}

.map {
    height: 800px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

    border: pink solid 3px;
    border-radius: 2%;
}

.contact-button{
    width: 60%;
    height: 50px;
}

.contact-label {
    margin-left: 10%;
    margin-top: 10px;
    text-align: left;
}

.short-page-footer{
    position: absolute;
    bottom: 0;
    width:100%;
}

.card{
    margin-left: 1vw;
    margin-right: 1vw;

    max-width: 30vw;
    max-height: 80vh;
    
    background-color: #fa7e7088;
}

.card img{
    max-height: 50vh;
    max-width: 25vw;
    padding: 5px;
    
    object-fit: scale-down;
    align-self: center;

    border: dotted 2px brown;
}

@media (max-height: 765px)
{
    .short-page-footer{
        position: static;
    }
}

@media (max-width: 500px) {
    .sidebar {
        width: 100%;
        margin-left: -100%;
        font-size: larger;
        text-align: center;
    }

    .short-page-footer{
        margin-top: 0;
    }

    .open {
        margin-left: 0px;
    }

    .open-main {
        margin-left: 100%;
        min-width: 100%;
    }

    .banner {
        min-width: 100%;
    }

    .footer {
        min-width: 100%;
    }

    .main {
        min-width: 100%;
    }
}