<div class="sidebar">
    <button class="toggle-btn" onclick="toggleSidebar()">☰</button>
    <h4 style="text-align: center;">Navigation</h4>
    <hr>
    <ul>
        <li><a href="/Petshop-project/index.html">Home</a></li>
        <li><a href="#">Pets</a></li>
        <li><a href="#">Products</a></li>
    </ul>
    <ul style="position: absolute; bottom: 20px">
        <li><a href="/Petshop-project/about.html">About Us!</a></li>
        <li><a href="/Petshop-project/contact.html">Contact Us!</a></li>
    </ul>
</div>

